@import "tailwindcss";

@font-face {
    font-family: "DM Sans";
    src: url("/fonts/DMSans-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "DM Sans Italic";
    src: url("/fonts/DMSans-Italic-Variable.ttf") format("truetype");
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
    font-family: "Syne";
    src: url("/fonts/Syne-Variable.woff2") format("woff2");
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
}

body {
    @apply text-element-50 bg-element-950
}

@theme {
    --font-sans: "DM Sans", sans-serif;
    --font-display: "Syne", "DM Sans", sans-serif;

    --color-volt-50: oklch(0.968 0.016 289.935);
    --color-volt-100: oklch(0.941 0.031 293.776);
    --color-volt-200: oklch(0.888 0.059 291.549);
    --color-volt-300: oklch(0.802 0.108 290.892);
    --color-volt-400: oklch(0.697 0.17 290.158);
    --color-volt-500: oklch(0.592 0.233 288.832);
    --color-volt-600: oklch(0.537 0.256 288.914);
    --color-volt-700: oklch(0.481 0.253 287.682);
    --color-volt-800: oklch(0.422 0.221 287.576);
    --color-volt-900: oklch(0.371 0.188 288.772);
    --color-volt-950: oklch(0.276 0.142 286.043);

    --color-element-50: oklch(0.924 0.025 303.475);
    --color-element-100: oklch(0.85 0.024 304.438);
    --color-element-200: oklch(0.762 0.025 304.379);
    --color-element-300: oklch(0.649 0.028 303.253);
    --color-element-400: oklch(0.516 0.028 304.089);
    --color-element-500: oklch(0.448 0.029 303.944);
    --color-element-600: oklch(0.374 0.03 303.715);
    --color-element-700: oklch(0.3 0.032 303.353);
    --color-element-800: oklch(0.239 0.035 301.669);
    --color-element-900: oklch(0.196 0.037 301.013);
    --color-element-950: oklch(0.151 0.039 300.216);
}